* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    /*user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;*/
    background: gray;
}

#canvas {
    background: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
}
